openapi: 3.1.0
info:
  title: Zora SDK ApiKey CoinComments API
  description: Access to Zora data for SDK users
  version: 1.0.0
servers:
- url: https://api-sdk.zora.engineering/
  description: SDK API Production Server
- url: https://api-sdk-staging.zora.engineering/
  description: SDK API Staging Server
- url: http://localhost:8787/
  description: SDK API Local Server
security:
- apiKey: []
tags:
- name: CoinComments
paths:
  /coinComments:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  zora20Token:
                    type: object
                    properties:
                      zoraComments:
                        type: object
                        properties:
                          pageInfo:
                            type: object
                            properties:
                              endCursor:
                                type: string
                                nullable: true
                                description: When paginating forwards, the cursor to continue.
                              hasNextPage:
                                type: boolean
                                nullable: false
                                description: When paginating forwards, are there more items?
                            required:
                            - hasNextPage
                            nullable: false
                          count:
                            type: integer
                            nullable: false
                            description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                          edges:
                            type: array
                            items:
                              type: object
                              properties:
                                node:
                                  type: object
                                  properties:
                                    commentId:
                                      type: string
                                      nullable: false
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    nonce:
                                      type: string
                                      nullable: false
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    userAddress:
                                      type: string
                                      nullable: false
                                    txHash:
                                      type: string
                                      nullable: false
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    comment:
                                      type: string
                                      nullable: false
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    timestamp:
                                      type: integer
                                      nullable: false
                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                    userProfile:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          nullable: false
                                          description: The Globally Unique ID of this object
                                        handle:
                                          type: string
                                          nullable: false
                                          description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                        avatar:
                                          type: object
                                          properties:
                                            previewImage:
                                              type: object
                                              properties:
                                                blurhash:
                                                  type: string
                                                  nullable: true
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                small:
                                                  type: string
                                                  nullable: false
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                medium:
                                                  type: string
                                                  nullable: false
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                              required:
                                              - small
                                              - medium
                                              nullable: false
                                          required:
                                          - previewImage
                                          nullable: true
                                      required:
                                      - id
                                      - handle
                                      nullable: true
                                    replies:
                                      type: object
                                      properties:
                                        count:
                                          type: integer
                                          nullable: false
                                          description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                        edges:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              node:
                                                type: object
                                                properties:
                                                  commentId:
                                                    type: string
                                                    nullable: false
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  nonce:
                                                    type: string
                                                    nullable: false
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  userAddress:
                                                    type: string
                                                    nullable: false
                                                  txHash:
                                                    type: string
                                                    nullable: false
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  comment:
                                                    type: string
                                                    nullable: false
                                                    description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  timestamp:
                                                    type: integer
                                                    nullable: false
                                                    description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                                  userProfile:
                                                    type: object
                                                    properties:
                                                      id:
                                                        type: string
                                                        nullable: false
                                                        description: The Globally Unique ID of this object
                                                      handle:
                                                        type: string
                                                        nullable: false
                                                        description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                                      avatar:
                                                        type: object
                                                        properties:
                                                          previewImage:
                                                            type: object
                                                            properties:
                                                              blurhash:
                                                                type: string
                                                                nullable: true
                                                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                              small:
                                                                type: string
                                                                nullable: false
                                                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                              medium:
                                                                type: string
                                                                nullable: false
                                                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                            required:
                                                            - small
                                                            - medium
                                                            nullable: false
                                                        required:
                                                        - previewImage
                                                        nullable: true
                                                    required:
                                                    - id
                                                    - handle
                                                    nullable: true
                                                required:
                                                - commentId
                                                - nonce
                                                - userAddress
                                                - txHash
                                                - comment
                                                - timestamp
                                                nullable: false
                                            required:
                                            - node
                                          nullable: false
                                      required:
                                      - count
                                      - edges
                                      nullable: false
                                  required:
                                  - commentId
                                  - nonce
                                  - userAddress
                                  - txHash
                                  - comment
                                  - timestamp
                                  - replies
                                  nullable: false
                              required:
                              - node
                            nullable: false
                        required:
                        - pageInfo
                        - count
                        - edges
                        nullable: false
                    required:
                    - zoraComments
                    nullable: true
        '400':
          description: Bad request
        '500':
          description: Internal server error
      operationId: GetCoinComments
      parameters:
      - name: address
        in: query
        schema:
          type: string
          nullable: false
        required: true
      - name: chain
        in: query
        schema:
          type: integer
          nullable: true
          default: 8453
        required: false
      - name: after
        in: query
        schema:
          type: string
          nullable: true
        required: false
      - name: count
        in: query
        schema:
          type: integer
          nullable: true
          default: 10
        required: false
      summary: zoraSDK_coinComments query
      tags:
      - CoinComments
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
