openapi: 3.1.0
info:
  title: Zora SDK ApiKey WalletTradeActivity API
  description: Access to Zora data for SDK users
  version: 1.0.0
servers:
- url: https://api-sdk.zora.engineering/
  description: SDK API Production Server
- url: https://api-sdk-staging.zora.engineering/
  description: SDK API Staging Server
- url: http://localhost:8787/
  description: SDK API Local Server
security:
- apiKey: []
tags:
- name: WalletTradeActivity
paths:
  /walletTradeActivity:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  walletAddressTradeActivity:
                    type: object
                    properties:
                      count:
                        type: integer
                        nullable: false
                        description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                      edges:
                        type: array
                        items:
                          type: object
                          properties:
                            node:
                              type: object
                              properties:
                                transactionHash:
                                  type: string
                                  nullable: false
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                transactionLogIndex:
                                  type: integer
                                  nullable: true
                                  description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                blockTimestamp:
                                  type: string
                                  nullable: false
                                  description: Date with time (isoformat)
                                coinAmount:
                                  type: string
                                  nullable: false
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                coin:
                                  type: object
                                  properties:
                                    platformBlocked:
                                      type: boolean
                                      nullable: false
                                      description: The `Boolean` scalar type represents `true` or `false`.
                                    address:
                                      type: string
                                      nullable: false
                                    coinType:
                                      type: string
                                      enum:
                                      - CREATOR
                                      - CONTENT
                                      - TREND
                                      nullable: false
                                    name:
                                      type: string
                                      nullable: false
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    symbol:
                                      type: string
                                      nullable: false
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    description:
                                      type: string
                                      nullable: false
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    tokenUri:
                                      type: string
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    mediaContent:
                                      type: object
                                      properties:
                                        previewImage:
                                          type: object
                                          properties:
                                            small:
                                              type: string
                                              nullable: false
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            blurhash:
                                              type: string
                                              nullable: true
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            medium:
                                              type: string
                                              nullable: false
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                          required:
                                          - small
                                          - medium
                                          nullable: true
                                      nullable: true
                                    creatorAddress:
                                      type: string
                                      nullable: true
                                    creatorProfile:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          nullable: false
                                          description: The Globally Unique ID of this object
                                        handle:
                                          type: string
                                          nullable: false
                                          description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                        platformBlocked:
                                          type: boolean
                                          nullable: false
                                          description: The `Boolean` scalar type represents `true` or `false`.
                                        avatar:
                                          type: object
                                          properties:
                                            previewImage:
                                              type: object
                                              properties:
                                                blurhash:
                                                  type: string
                                                  nullable: true
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                medium:
                                                  type: string
                                                  nullable: false
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                small:
                                                  type: string
                                                  nullable: false
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                              required:
                                              - medium
                                              - small
                                              nullable: false
                                          required:
                                          - previewImage
                                          nullable: true
                                      required:
                                      - id
                                      - handle
                                      - platformBlocked
                                      nullable: true
                                    uniswapPoolAddress:
                                      type: string
                                      nullable: false
                                    totalSupply:
                                      type: string
                                      nullable: false
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                  required:
                                  - platformBlocked
                                  - address
                                  - coinType
                                  - name
                                  - symbol
                                  - description
                                  - uniswapPoolAddress
                                  - totalSupply
                                  nullable: true
                                id:
                                  type: string
                                  nullable: false
                                  description: The Globally Unique ID of this object
                                swapActivityType:
                                  type: string
                                  enum:
                                  - BUY
                                  - SELL
                                  nullable: true
                                currencyAmountWithPrice:
                                  type: object
                                  properties:
                                    amountUsd:
                                      type: string
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    priceUsdc:
                                      type: string
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    priceDelta24h:
                                      type: string
                                      nullable: true
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    currencyAmount:
                                      type: object
                                      properties:
                                        currencyAddress:
                                          type: string
                                          nullable: false
                                          description: Ethereum address of the currency
                                        amountDecimal:
                                          type: number
                                          format: float
                                          nullable: false
                                          description: Amount of the currency, in float format accounting for currency decimals
                                        amountRaw:
                                          type: string
                                          nullable: false
                                          description: Raw amount of the currency, in wei. Not formatted with decimals
                                      required:
                                      - currencyAddress
                                      - amountDecimal
                                      - amountRaw
                                      nullable: false
                                  required:
                                  - currencyAmount
                                  nullable: false
                                senderProfile:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      nullable: false
                                      description: The Globally Unique ID of this object
                                    handle:
                                      type: string
                                      nullable: false
                                      description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                    platformBlocked:
                                      type: boolean
                                      nullable: false
                                      description: The `Boolean` scalar type represents `true` or `false`.
                                    avatar:
                                      type: object
                                      properties:
                                        previewImage:
                                          type: object
                                          properties:
                                            blurhash:
                                              type: string
                                              nullable: true
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            medium:
                                              type: string
                                              nullable: false
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            small:
                                              type: string
                                              nullable: false
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                          required:
                                          - medium
                                          - small
                                          nullable: false
                                      required:
                                      - previewImage
                                      nullable: true
                                  required:
                                  - id
                                  - handle
                                  - platformBlocked
                                  nullable: true
                                orderId:
                                  type: string
                                  nullable: false
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                initialBuyAmount:
                                  type: string
                                  nullable: true
                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                initialBuyAmountUsd:
                                  type: number
                                  format: float
                                  nullable: true
                                  description: The `Float` scalar type represents signed double-precision fractional values as specified by [IEEE 754](https://en.wikipedia.org/wiki/IEEE_floating_point).
                                multiplier:
                                  type: integer
                                  nullable: false
                                  description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                makerProfile:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      nullable: false
                                      description: The Globally Unique ID of this object
                                    handle:
                                      type: string
                                      nullable: false
                                      description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                    platformBlocked:
                                      type: boolean
                                      nullable: false
                                      description: The `Boolean` scalar type represents `true` or `false`.
                                    avatar:
                                      type: object
                                      properties:
                                        previewImage:
                                          type: object
                                          properties:
                                            blurhash:
                                              type: string
                                              nullable: true
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            medium:
                                              type: string
                                              nullable: false
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            small:
                                              type: string
                                              nullable: false
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                          required:
                                          - medium
                                          - small
                                          nullable: false
                                      required:
                                      - previewImage
                                      nullable: true
                                  required:
                                  - id
                                  - handle
                                  - platformBlocked
                                  nullable: true
                              required:
                              - transactionHash
                              - blockTimestamp
                              - coinAmount
                              - id
                              - currencyAmountWithPrice
                              - id
                              - orderId
                              - multiplier
                              - currencyAmountWithPrice
                              nullable: false
                            cursor:
                              type: string
                              nullable: false
                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          required:
                          - node
                          - cursor
                        nullable: false
                      pageInfo:
                        type: object
                        properties:
                          endCursor:
                            type: string
                            nullable: true
                            description: When paginating forwards, the cursor to continue.
                          hasNextPage:
                            type: boolean
                            nullable: false
                            description: When paginating forwards, are there more items?
                        required:
                        - hasNextPage
                        nullable: false
                    required:
                    - count
                    - edges
                    - pageInfo
                    nullable: false
                required:
                - walletAddressTradeActivity
        '400':
          description: Bad request
        '500':
          description: Internal server error
      operationId: GetWalletTradeActivity
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          nullable: false
        required: true
      - name: after
        in: query
        schema:
          type: string
          nullable: true
          default: null
        required: false
      - name: first
        in: query
        schema:
          type: integer
          nullable: true
          default: 10
        required: false
      summary: zoraSDK_walletTradeActivity query
      tags:
      - WalletTradeActivity
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
