openapi: 3.1.0
info:
  title: Zora SDK ApiKey TokenInfo API
  description: Access to Zora data for SDK users
  version: 1.0.0
servers:
- url: https://api-sdk.zora.engineering/
  description: SDK API Production Server
- url: https://api-sdk-staging.zora.engineering/
  description: SDK API Staging Server
- url: http://localhost:8787/
  description: SDK API Local Server
security:
- apiKey: []
tags:
- name: TokenInfo
paths:
  /tokenInfo:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  erc20Token:
                    type: object
                    properties:
                      currency:
                        type: object
                        properties:
                          priceUsd:
                            type: string
                            nullable: true
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          decimals:
                            type: integer
                            nullable: true
                            description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                          name:
                            type: string
                            nullable: true
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          symbol:
                            type: string
                            nullable: true
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          icon:
                            type: string
                            nullable: true
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        nullable: true
                    nullable: true
        '400':
          description: Bad request
        '500':
          description: Internal server error
      operationId: GetTokenInfo
      parameters:
      - name: address
        in: query
        schema:
          type: string
          nullable: false
        required: true
      - name: chainId
        in: query
        schema:
          type: integer
          nullable: true
          default: 8453
        required: false
      summary: zoraSDK_tokenInfo query
      tags:
      - TokenInfo
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
