openapi: 3.1.0
info:
  title: Zora SDK ApiKey ProfileBalances API
  description: Access to Zora data for SDK users
  version: 1.0.0
servers:
- url: https://api-sdk.zora.engineering/
  description: SDK API Production Server
- url: https://api-sdk-staging.zora.engineering/
  description: SDK API Staging Server
- url: http://localhost:8787/
  description: SDK API Local Server
security:
- apiKey: []
tags:
- name: ProfileBalances
paths:
  /profileBalances:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    type: object
                    properties:
                      id:
                        type: string
                        nullable: false
                        description: The Globally Unique ID of this object
                      handle:
                        type: string
                        nullable: false
                        description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                      platformBlocked:
                        type: boolean
                        nullable: false
                        description: The `Boolean` scalar type represents `true` or `false`.
                      avatar:
                        type: object
                        properties:
                          previewImage:
                            type: object
                            properties:
                              blurhash:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              medium:
                                type: string
                                nullable: false
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              small:
                                type: string
                                nullable: false
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            required:
                            - medium
                            - small
                            nullable: false
                        required:
                        - previewImage
                        nullable: true
                      socialAccounts:
                        type: object
                        properties:
                          instagram:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                          tiktok:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                          twitter:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                          farcaster:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                        nullable: false
                      creatorCoin:
                        type: object
                        properties:
                          address:
                            type: string
                            nullable: false
                        required:
                        - address
                        nullable: true
                      coinBalances:
                        type: object
                        properties:
                          count:
                            type: integer
                            nullable: false
                            description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                          edges:
                            type: array
                            items:
                              type: object
                              properties:
                                node:
                                  type: object
                                  properties:
                                    balance:
                                      type: string
                                      nullable: false
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    walletBalance:
                                      type: string
                                      nullable: false
                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                    id:
                                      type: string
                                      nullable: false
                                      description: The Globally Unique ID of this object
                                    valuation:
                                      type: object
                                      properties:
                                        marketValueUsd:
                                          type: string
                                          nullable: true
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        faceValueUsd:
                                          type: string
                                          nullable: true
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        blockNumber:
                                          type: integer
                                          nullable: true
                                          description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                        maxSwappable:
                                          type: object
                                          properties:
                                            amountRaw:
                                              type: string
                                              nullable: false
                                              description: Raw amount of the currency, in wei. Not formatted with decimals
                                            amountDecimal:
                                              type: number
                                              format: float
                                              nullable: false
                                              description: Amount of the currency, in float format accounting for currency decimals
                                          required:
                                          - amountRaw
                                          - amountDecimal
                                          nullable: true
                                        currencyAmount:
                                          type: object
                                          properties:
                                            amountRaw:
                                              type: string
                                              nullable: false
                                              description: Raw amount of the currency, in wei. Not formatted with decimals
                                            amountDecimal:
                                              type: number
                                              format: float
                                              nullable: false
                                              description: Amount of the currency, in float format accounting for currency decimals
                                          required:
                                          - amountRaw
                                          - amountDecimal
                                          nullable: false
                                        error:
                                          type: string
                                          nullable: true
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                      required:
                                      - currencyAmount
                                      nullable: true
                                    coin:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          nullable: false
                                          description: The Globally Unique ID of this object
                                        platformBlocked:
                                          type: boolean
                                          nullable: false
                                          description: The `Boolean` scalar type represents `true` or `false`.
                                        name:
                                          type: string
                                          nullable: false
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        description:
                                          type: string
                                          nullable: false
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        address:
                                          type: string
                                          nullable: false
                                        coinType:
                                          type: string
                                          enum:
                                          - CREATOR
                                          - CONTENT
                                          - TREND
                                          nullable: false
                                        symbol:
                                          type: string
                                          nullable: false
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        totalSupply:
                                          type: string
                                          nullable: false
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        totalVolume:
                                          type: string
                                          nullable: false
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        volume24h:
                                          type: string
                                          nullable: false
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        createdAt:
                                          type: string
                                          nullable: true
                                          description: Date with time (isoformat)
                                        creatorAddress:
                                          type: string
                                          nullable: true
                                        poolCurrencyToken:
                                          type: object
                                          properties:
                                            address:
                                              type: string
                                              nullable: true
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            name:
                                              type: string
                                              nullable: true
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            decimals:
                                              type: integer
                                              nullable: true
                                              description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                          nullable: true
                                        tokenPrice:
                                          type: object
                                          properties:
                                            priceInUsdc:
                                              type: string
                                              nullable: true
                                              description: Price of the pool in respect to USDC, not always available
                                            currencyAddress:
                                              type: string
                                              nullable: false
                                              description: Ethereum address of the currency
                                            priceInPoolToken:
                                              type: string
                                              nullable: false
                                              description: Price against the native token of the primary currency pool
                                          required:
                                          - currencyAddress
                                          - priceInPoolToken
                                          nullable: true
                                        marketCap:
                                          type: string
                                          nullable: false
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        marketCapDelta24h:
                                          type: string
                                          nullable: false
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        chainId:
                                          type: integer
                                          nullable: false
                                          description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                        tokenUri:
                                          type: string
                                          nullable: true
                                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                        platformReferrerAddress:
                                          type: string
                                          nullable: true
                                        payoutRecipientAddress:
                                          type: string
                                          nullable: true
                                        creatorProfile:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                              nullable: false
                                              description: The Globally Unique ID of this object
                                            handle:
                                              type: string
                                              nullable: false
                                              description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                                            platformBlocked:
                                              type: boolean
                                              nullable: false
                                              description: The `Boolean` scalar type represents `true` or `false`.
                                            avatar:
                                              type: object
                                              properties:
                                                previewImage:
                                                  type: object
                                                  properties:
                                                    blurhash:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    medium:
                                                      type: string
                                                      nullable: false
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    small:
                                                      type: string
                                                      nullable: false
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  required:
                                                  - medium
                                                  - small
                                                  nullable: false
                                              required:
                                              - previewImage
                                              nullable: true
                                            socialAccounts:
                                              type: object
                                              properties:
                                                instagram:
                                                  type: object
                                                  properties:
                                                    username:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    displayName:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    followerCount:
                                                      type: integer
                                                      nullable: true
                                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                                    id:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  nullable: true
                                                tiktok:
                                                  type: object
                                                  properties:
                                                    username:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    displayName:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    followerCount:
                                                      type: integer
                                                      nullable: true
                                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                                    id:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  nullable: true
                                                twitter:
                                                  type: object
                                                  properties:
                                                    username:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    displayName:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    followerCount:
                                                      type: integer
                                                      nullable: true
                                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                                    id:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  nullable: true
                                                farcaster:
                                                  type: object
                                                  properties:
                                                    username:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    displayName:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                    followerCount:
                                                      type: integer
                                                      nullable: true
                                                      description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                                    id:
                                                      type: string
                                                      nullable: true
                                                      description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                  nullable: true
                                              nullable: false
                                            creatorCoin:
                                              type: object
                                              properties:
                                                address:
                                                  type: string
                                                  nullable: false
                                              required:
                                              - address
                                              nullable: true
                                          required:
                                          - id
                                          - handle
                                          - platformBlocked
                                          - socialAccounts
                                          nullable: true
                                        mediaContent:
                                          type: object
                                          properties:
                                            mimeType:
                                              type: string
                                              nullable: true
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            originalUri:
                                              type: string
                                              nullable: false
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            previewImage:
                                              type: object
                                              properties:
                                                small:
                                                  type: string
                                                  nullable: false
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                medium:
                                                  type: string
                                                  nullable: false
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                                blurhash:
                                                  type: string
                                                  nullable: true
                                                  description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                              required:
                                              - small
                                              - medium
                                              nullable: true
                                            videoPreviewUrl:
                                              type: string
                                              nullable: true
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                            videoHlsUrl:
                                              type: string
                                              nullable: true
                                              description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                                          required:
                                          - originalUri
                                          nullable: true
                                        uniqueHolders:
                                          type: integer
                                          nullable: false
                                          description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                        uniswapV4PoolKey:
                                          type: object
                                          properties:
                                            token0Address:
                                              type: string
                                              nullable: false
                                            token1Address:
                                              type: string
                                              nullable: false
                                            fee:
                                              type: integer
                                              nullable: false
                                              description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                            tickSpacing:
                                              type: integer
                                              nullable: false
                                              description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                                            hookAddress:
                                              type: string
                                              nullable: false
                                          required:
                                          - token0Address
                                          - token1Address
                                          - fee
                                          - tickSpacing
                                          - hookAddress
                                          nullable: false
                                        uniswapV3PoolAddress:
                                          type: string
                                          nullable: false
                                      required:
                                      - id
                                      - platformBlocked
                                      - name
                                      - description
                                      - address
                                      - coinType
                                      - symbol
                                      - totalSupply
                                      - totalVolume
                                      - volume24h
                                      - marketCap
                                      - marketCapDelta24h
                                      - chainId
                                      - uniqueHolders
                                      - uniswapV4PoolKey
                                      - uniswapV3PoolAddress
                                      nullable: true
                                  required:
                                  - balance
                                  - walletBalance
                                  - id
                                  nullable: false
                              required:
                              - node
                            nullable: false
                          pageInfo:
                            type: object
                            properties:
                              hasNextPage:
                                type: boolean
                                nullable: false
                                description: When paginating forwards, are there more items?
                              endCursor:
                                type: string
                                nullable: true
                                description: When paginating forwards, the cursor to continue.
                            required:
                            - hasNextPage
                            nullable: false
                        required:
                        - count
                        - edges
                        - pageInfo
                        nullable: false
                    required:
                    - id
                    - handle
                    - platformBlocked
                    - socialAccounts
                    - coinBalances
                    nullable: true
        '400':
          description: Bad request
        '500':
          description: Internal server error
      operationId: GetProfileBalances
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          nullable: false
        required: true
      - name: count
        in: query
        schema:
          type: integer
          nullable: true
          default: 30
        required: false
      - name: after
        in: query
        schema:
          type: string
          nullable: true
        required: false
      - name: sortOption
        in: query
        schema:
          type: string
          enum:
          - BALANCE
          - MARKET_CAP
          - USD_VALUE
          - PRICE_CHANGE
          - MARKET_VALUE_USD
          nullable: true
        required: false
      - name: excludeHidden
        in: query
        schema:
          type: boolean
          nullable: true
          default: true
        required: false
      - name: chainIds
        in: query
        schema:
          type: array
          items:
            type: integer
            nullable: false
          nullable: false
          default:
          - 8453
        required: false
      summary: zoraSDK_profileBalances query
      tags:
      - ProfileBalances
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
