openapi: 3.1.0
info:
  title: Zora SDK ApiKey API
  description: Access to Zora data for SDK users
  version: 1.0.0
servers:
- url: https://api-sdk.zora.engineering/
  description: SDK API Production Server
- url: https://api-sdk-staging.zora.engineering/
  description: SDK API Staging Server
- url: http://localhost:8787/
  description: SDK API Local Server
security:
- apiKey: []
tags:
- name: ApiKey
paths:
  /apiKey:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      apiKey:
                        type: string
                        nullable: false
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                      isActive:
                        type: boolean
                        nullable: false
                        description: The `Boolean` scalar type represents `true` or `false`.
                    required:
                    - apiKey
                    - isActive
                    nullable: false
                required:
                - apiKey
        '400':
          description: Bad request
        '500':
          description: Internal server error
      operationId: GetApiKey
      parameters:
      - name: apiKey
        in: query
        schema:
          type: string
          nullable: false
        required: true
      summary: zoraSDK_apiKey query
      tags:
      - ApiKey
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
