openapi: 3.1.0
info:
  title: Zora SDK ApiKey CreatorCoinPoolConfig API
  description: Access to Zora data for SDK users
  version: 1.0.0
servers:
- url: https://api-sdk.zora.engineering/
  description: SDK API Production Server
- url: https://api-sdk-staging.zora.engineering/
  description: SDK API Staging Server
- url: http://localhost:8787/
  description: SDK API Local Server
security:
- apiKey: []
tags:
- name: CreatorCoinPoolConfig
paths:
  /creatorCoinPoolConfig:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  creatorCoinPoolConfig:
                    type: object
                    properties:
                      encodedConfig:
                        type: string
                        nullable: false
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                      currency:
                        type: string
                        nullable: false
                      lowerTicks:
                        type: array
                        items:
                          type: integer
                          nullable: false
                          description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                        nullable: false
                      upperTicks:
                        type: array
                        items:
                          type: integer
                          nullable: false
                          description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                        nullable: false
                      numDiscoveryPositions:
                        type: array
                        items:
                          type: integer
                          nullable: false
                          description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                        nullable: false
                      maxDiscoverySupplyShares:
                        type: array
                        items:
                          type: string
                          nullable: false
                          description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        nullable: false
                    required:
                    - encodedConfig
                    - currency
                    - lowerTicks
                    - upperTicks
                    - numDiscoveryPositions
                    - maxDiscoverySupplyShares
                    nullable: false
                required:
                - creatorCoinPoolConfig
        '400':
          description: Bad request
        '500':
          description: Internal server error
      operationId: GetCreatorCoinPoolConfig
      parameters:
      - name: targetMarketCapUsd
        in: query
        schema:
          type: integer
          nullable: true
        required: false
      summary: zoraSDK_creatorCoinPoolConfig query
      tags:
      - CreatorCoinPoolConfig
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
