openapi: 3.1.0
info:
  title: Zora SDK ApiKey FeaturedCreators API
  description: Access to Zora data for SDK users
  version: 1.0.0
servers:
- url: https://api-sdk.zora.engineering/
  description: SDK API Production Server
- url: https://api-sdk-staging.zora.engineering/
  description: SDK API Staging Server
- url: http://localhost:8787/
  description: SDK API Local Server
security:
- apiKey: []
tags:
- name: FeaturedCreators
paths:
  /featuredCreators:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  traderLeaderboardFeaturedCreators:
                    type: object
                    properties:
                      count:
                        type: integer
                        nullable: false
                        description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                      pageInfo:
                        type: object
                        properties:
                          hasNextPage:
                            type: boolean
                            nullable: false
                            description: When paginating forwards, are there more items?
                          endCursor:
                            type: string
                            nullable: true
                            description: When paginating forwards, the cursor to continue.
                        required:
                        - hasNextPage
                        nullable: false
                      edges:
                        type: array
                        items:
                          type: object
                          properties:
                            node:
                              type: object
                              properties:
                                id:
                                  type: string
                                  nullable: false
                                  description: The Globally Unique ID of this object
                                handle:
                                  type: string
                                  nullable: false
                                  description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                              required:
                              - id
                              - handle
                              nullable: false
                          required:
                          - node
                        nullable: false
                    required:
                    - count
                    - pageInfo
                    - edges
                    nullable: false
                required:
                - traderLeaderboardFeaturedCreators
        '400':
          description: Bad request
        '500':
          description: Internal server error
      operationId: GetFeaturedCreators
      parameters:
      - name: year
        in: query
        schema:
          type: integer
          nullable: true
        required: false
      - name: week
        in: query
        schema:
          type: integer
          nullable: true
        required: false
      - name: first
        in: query
        schema:
          type: integer
          nullable: true
        required: false
      - name: after
        in: query
        schema:
          type: string
          nullable: true
        required: false
      summary: zoraSDK_featuredCreators query
      tags:
      - FeaturedCreators
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
