openapi: 3.1.0
info:
  title: Zora SDK ApiKey ProfileBySocialHandle API
  description: Access to Zora data for SDK users
  version: 1.0.0
servers:
- url: https://api-sdk.zora.engineering/
  description: SDK API Production Server
- url: https://api-sdk-staging.zora.engineering/
  description: SDK API Staging Server
- url: http://localhost:8787/
  description: SDK API Local Server
security:
- apiKey: []
tags:
- name: ProfileBySocialHandle
paths:
  /profileBySocialHandle:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  profileBySocialHandle:
                    type: object
                    properties:
                      id:
                        type: string
                        nullable: false
                        description: The Globally Unique ID of this object
                      handle:
                        type: string
                        nullable: false
                        description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                      platformBlocked:
                        type: boolean
                        nullable: false
                        description: The `Boolean` scalar type represents `true` or `false`.
                      avatar:
                        type: object
                        properties:
                          previewImage:
                            type: object
                            properties:
                              blurhash:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              medium:
                                type: string
                                nullable: false
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              small:
                                type: string
                                nullable: false
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            required:
                            - medium
                            - small
                            nullable: false
                        required:
                        - previewImage
                        nullable: true
                      socialAccounts:
                        type: object
                        properties:
                          instagram:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                          tiktok:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                          twitter:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                          farcaster:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                        nullable: false
                      creatorCoin:
                        type: object
                        properties:
                          symbol:
                            type: string
                            nullable: false
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          marketCap:
                            type: string
                            nullable: false
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          marketCapDelta24h:
                            type: string
                            nullable: false
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          multichainAddress:
                            type: string
                            nullable: false
                        required:
                        - symbol
                        - marketCap
                        - marketCapDelta24h
                        - multichainAddress
                        nullable: true
                      username:
                        type: string
                        nullable: false
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                      displayName:
                        type: string
                        nullable: true
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                    required:
                    - id
                    - handle
                    - platformBlocked
                    - socialAccounts
                    - username
                    nullable: true
        '400':
          description: Bad request
        '500':
          description: Internal server error
      operationId: GetProfileBySocialHandle
      parameters:
      - name: platform
        in: query
        schema:
          type: string
          enum:
          - TWITTER
          - TIKTOK
          - FARCASTER
          - INSTAGRAM
          nullable: false
        required: true
      - name: handle
        in: query
        schema:
          type: string
          nullable: false
        required: true
      summary: zoraSDK_profileBySocialHandle query
      tags:
      - ProfileBySocialHandle
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
