openapi: 3.1.0
info:
  title: Zora SDK ApiKey Profile API
  description: Access to Zora data for SDK users
  version: 1.0.0
servers:
- url: https://api-sdk.zora.engineering/
  description: SDK API Production Server
- url: https://api-sdk-staging.zora.engineering/
  description: SDK API Staging Server
- url: http://localhost:8787/
  description: SDK API Local Server
security:
- apiKey: []
tags:
- name: Profile
paths:
  /profile:
    get:
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    type: object
                    properties:
                      id:
                        type: string
                        nullable: false
                        description: The Globally Unique ID of this object
                      handle:
                        type: string
                        nullable: false
                        description: Manually set username, or truncated wallet address if the profile isn't a GraphQLAccountProfile. For full wallet address, use the profile_id field instead.
                      platformBlocked:
                        type: boolean
                        nullable: false
                        description: The `Boolean` scalar type represents `true` or `false`.
                      avatar:
                        type: object
                        properties:
                          small:
                            type: string
                            nullable: false
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          medium:
                            type: string
                            nullable: false
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          blurhash:
                            type: string
                            nullable: true
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        required:
                        - small
                        - medium
                        nullable: true
                      username:
                        type: string
                        nullable: false
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                      createdAt:
                        type: string
                        nullable: false
                        description: Date with time (isoformat)
                      displayName:
                        type: string
                        nullable: true
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                      bio:
                        type: string
                        nullable: false
                        description: Profile bio / description. May contain markdown formatting
                      website:
                        type: string
                        nullable: true
                        description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                      publicWallet:
                        type: object
                        properties:
                          walletAddress:
                            type: string
                            nullable: false
                          walletType:
                            type: string
                            enum:
                            - PRIVY
                            - EXTERNAL
                            - SMART_WALLET
                            nullable: false
                        required:
                        - walletAddress
                        - walletType
                        nullable: false
                      socialAccounts:
                        type: object
                        properties:
                          instagram:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                          tiktok:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                          twitter:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                          farcaster:
                            type: object
                            properties:
                              username:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              displayName:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                              followerCount:
                                type: integer
                                nullable: true
                                description: The `Int` scalar type represents non-fractional signed whole numeric values. Int can represent values between -(2^31) and 2^31 - 1.
                              id:
                                type: string
                                nullable: true
                                description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                            nullable: true
                        nullable: false
                      linkedWallets:
                        type: object
                        properties:
                          edges:
                            type: array
                            items:
                              type: object
                              properties:
                                node:
                                  type: object
                                  properties:
                                    walletType:
                                      type: string
                                      enum:
                                      - PRIVY
                                      - EXTERNAL
                                      - SMART_WALLET
                                      nullable: false
                                    walletAddress:
                                      type: string
                                      nullable: false
                                  required:
                                  - walletType
                                  - walletAddress
                                  nullable: false
                              required:
                              - node
                            nullable: false
                        required:
                        - edges
                        nullable: false
                      creatorCoin:
                        type: object
                        properties:
                          address:
                            type: string
                            nullable: false
                          marketCap:
                            type: string
                            nullable: false
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                          marketCapDelta24h:
                            type: string
                            nullable: false
                            description: The `String` scalar type represents textual data, represented as UTF-8 character sequences. The String type is most often used by GraphQL to represent free-form human-readable text.
                        required:
                        - address
                        - marketCap
                        - marketCapDelta24h
                        nullable: true
                    required:
                    - id
                    - handle
                    - platformBlocked
                    - username
                    - createdAt
                    - bio
                    - publicWallet
                    - socialAccounts
                    - linkedWallets
                    nullable: true
        '400':
          description: Bad request
        '500':
          description: Internal server error
      operationId: GetProfile
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          nullable: false
        required: true
      summary: zoraSDK_profile query
      tags:
      - Profile
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
